.entry-page {
  background: #FFF;
  min-height: calc(100vh);
  padding: 30px 0 56px 0;
  .accordion-wrapper {
    background-size: cover;
    .accordion {
      // margin-top: .32rem;
    }
  }
  .light-dot-img {
    img {
      width: 100%;
    }
  }
}