.entry-page {
  width: 100%;
  background:#052B49 fixed;
  background-size: cover;
  position: relative;
  min-height: calc(100vh);
  .accordion-wrapper {
    background-size: cover;
    .accordion {
      // margin-top: .32rem;
    }
  }

  .light-dot-img {
    img {
      width: 100%;
    }
  }
}