.ScheduleBox{
  padding: 50px 0;
  .ScheduleBox-Title{
    margin: 20px 0;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    font-size: 16px;
    background-image:linear-gradient(-45deg, #3791CE 0%, #36A1DA 35%, #B36EAD 66%, #EE4F75 100%);
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    position: relative;
    div:nth-child(1){
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: flex-start;
      span:nth-child(1){
        text-align: left;
        color: #FFF;
        font-size: 14px;
        height: 25px;
        line-height: 25px;
      }
      span:nth-child(2){
        color: #FFF;
        font-size: 10px;
        height: 25px;;
        text-align: left;
        line-height: 25px;
      }
    }
    div:nth-child(2){
      position: absolute;
      top: 13px;
      right: 13px;
      width: 70px;
      height: 25px;
      border-radius: 25px;
      color: #FFF;
      border: 1px solid #FFF;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        color: #FFF;
        font-size: 12px;
      }
    }
  }
}