.bg-all-color{
  position: fixed;
  left:0;
  top:0;
  bottom: 0;
  right: 0;
  background: #0e1a27
}
.bg-all-img{
  width: 16rem;
  height: 7rem;
  background: url(../../components/images/bg-all.png);
  background-size: cover
}