.my-accordion {
  width: 100%;
  color: #fff;
  //height: 8rem;
  margin-bottom: 3px;
  .Mycontent{
    font-family: PingFangSC-Regular;
    display: flex;
    padding:9px 10px 10px 13px;
    font-size: 12px;
    color: #FFFFFF;
    text-align: justify;
    line-height: 20px;
    opacity: 0.8;
    background: #052B49;
  }
  //.accor-header {
  //  height: .48rem;
  //  border-radius: 4px;
  //  padding: 0 12px;
  //  .main-title {
  //    font-size: 16px;
  //  }
  //
  //  .en-title {
  //    font-size: 9px;
  //  }
  //}
  .icon-xiangxia,
  .icon-xiangshang
  {
    position: absolute;
    right: 11px;
    top: 25%;
  }
  .light-content {
    font-size: 13px;
    background: #052B49;
    color: #FFF;
    padding: 12px 15px;
  }

  .light-item-title {
    color: #009aff;
    margin-right: 9px;
  }
}