.all-people {
  background: #FFF;
  min-height: calc(100vh);
  .people-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .item-header {
    width: 100%;
  }

}