.my-accordion {
  width: 100%;
  color: #fff;
  //height: 8rem;
  margin-bottom: 3px;

  .icon-xiangxia,
  .icon-xiangshang
  {
    position: absolute;
    right: 6px;
    top: 25%;
  }
  .light-content {
    font-size: 13px;
    background: #052B49;
    color: #FFF;
    padding: 12px 15px;
  }

  .light-item-title {
    color: #FFF;
    margin-right: 9px;
  }
}