.ConferenceNewsItemMain{
  display: flex;
  width: 100%;
  height: 100px;
  border-radius: 4px;
  background: #fff;
  margin-bottom: 6px;
  .conferenceNewsImg{
    width: 26%;
    height: 100%;
  }
  .conferenceNewsTextBox{
    width: 74%;
    height: 100%;
    padding:9px 12px 6px 8.5px;
    .conferenceNewsTitleBox{
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 20px;
      .conferenceNewsTitle{
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        font-size:16px;
        height: 26px;
      }
      .conferenceNewsTime{
        font-size: 11px;
        color: #ccc;
      }
    }
    .conferenceNewsText{
      margin-top: 10px;
      width: 100%;
      height: 34px;
      font-size: 12px;
      color: #ccc;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    .conferenceNewsRead{
      display: flex;
      margin-top: 6px;
      .conferenceNewsReadImg{
        margin-top: 1px;
        width: 15px;
        height: 10px;
        margin-right: 4px;
      }
      span{
        font-size: 10px;
        color: #ccc;
      }
    }
  }
}
.NewsDetalisiItemMain{
  background: #fff;
  width: 100%;
  min-height: 520px;
  border-radius: 15px;
  padding:26px 18px 20px 18px;
  .NewsDetalisiName{
    font-size: 18px;
    font-weight:800;
  }
  .NewsDetalisiItemDetaBox{
    font-size: 14px;
    margin-top: 5px;
    display: flex;
    .NewsDetalisiItemDeta{
      color: #ccc;
      margin-right: 10px;
      margin-bottom: 20px;
    }
    .NewsDetalisiItemAuthor{
      color: #20A0FF;
    }
  }
  .NewsDetalisiItemAmount{
    margin-top: 30px;
    font-size: 12px;
    color: #ccc;
  }
}