.container {
  background: url(../../components/images/bg-all.png) no-repeat top #0a0f19;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 13px;
}


.containerAwards {
  background:#000;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 13px;
}

.bg--icon {
  width: 100%;
  height: 280px;
  position: absolute;
  top: 0;
  z-index: 0;
}


