.collection-item-time{
  font-size: 15px;
  font-weight: 700;
  width: 100%;
  border-bottom: 1px solid #dddfe1;
  //margin-top: -9px;
  padding-left: 25px;
  background-color: #fff;
  height: .4rem;
  line-height: .4rem;
}
.user-box{
  display: flex;
  //width: 100%;
  height: .4rem;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0 12px;
  .boximg{
    display: flex;
    align-items: center;
  }
  .boxiner{
    height: 100%;
    float: left;
    .boxinerTextA{
      margin-top: -6px;
      margin-bottom: 6px;
      height: 10px;
      font-weight: 800;
    }
    boxinerTextB{
      height: 8px;
      font-weight: 200;
    }
  }
}

.accor-content.hidden-style {
  visibility: hidden;
  height: 0;
}