.arrange-content{
    background: #101927;
    position:fixed;
top:0;
left:0;
bottom:0;
right:0;
 display: flex;
    flex-direction: column;
    align-items: center;
}
.arrange-btn-content{
   display: flex; 
    width: 13.5rem;
    height: 1.65rem;
    background:#fff ;
    border-radius:0 0 0.25rem 0.25rem ;
    color: #2b67ff;
    font-size:0.6rem
}
.arrange-btn {
    height: 1.65rem;
    text-align: center;
    line-height: 1.65rem;
}
.arrange-btn-23{
    flex: 1;
    border-right: 0.025rem solid #ccc;
    font-size: 16px;
}
.arrange-btn-24{
    flex: 1;
    font-size: 16px;
    font-family: "Courier New";
}
/*TITILE*/
.arrange-titile{
    width: 8.5rem;
    height: 1.2rem;
    background: #1b2d4c;
    font-size: 0.6rem;
    color: #fff;
    line-height: 1.2rem;
display: flex;
border-radius:0.6rem;
margin: 0.7rem 0 0.3rem 0
}
.arrange-titile-name{
width: 70%;
text-align: center
}
.arrange-number{
width: 30%;
text-align: center
}