.PointDivBox{
  .PointDivBoxXc{
    position: fixed;
    right: 20px;
    bottom: 170px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    .PointDivBoxXcT{
      display: flex;
      flex-direction: column;
      z-index: 999;
      font-size: 9px;
      div{
        line-height: 13px;
        font-size: 9px;
      }
    }
    a{
      color: #fff;
      display: block;
    }
    background:#2b67ff;
  }
  .PointDivBoxWx{
    font-size:30px;
    position: fixed;
    right: 20px;
    bottom: 100px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    color: #fff;
    z-index: 999;
    background: rgba(0,0,0,0.7);
    .PointDivBoxWxshow{
      position: fixed;
      width: 120px;
      height: 120px;
      right: 100px;
      bottom: 110px;
      z-index: 99;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  .ant-back-top{
    right: 25px;
  }
}