.ConferenceBox{
  width: 100%;
  padding-top:30px;
  .ConferenceBoxShang{
    width: 100%;
    .ConferenceBoxShangBox{
      width: 100%;
      .ConferenceTime{
        margin: 0 auto;
        font-size: 12px;
        text-align: center;
        line-height: 20px;
        margin-top: 10px;
      }
      .ConferenceDd{
        margin: 0 auto;
        font-size: 14px;
        text-align: center;
        line-height: 20px;
        margin-top: 10px;
      }
      .ConferenceContest{
        padding: 8px 16px 0 16px;
        margin: 0 auto;
        font-size: 12px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align:justify;
      }
    }
  }
}