.collection--wrap {
  width: 225px;
  height: 180px;
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 300px;
  font-size: 13px;
  margin-left: -112px;
  margin-top: -90px;
  background: url(../../images/collection-success.png) no-repeat center 35px #fff;
  background-size: 86px 78px;
  box-shadow: -3px -2px 35px 10px #ccc;
  border-radius: 10px;
  border: 1px solid #ccc;
  color: #000;
  text-align: center;
}

.close--area {
  height: 35px;
  display: flex;
  justify-content: flex-end;
  .close--icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: url(../../images/close-black.svg) no-repeat center;
    background-size: 60%;
    cursor: pointer;
  }
}