.entry-pageA {
  min-height: calc(100vh);
  background: #FFF;
  .banner-wrapper {
    width: 100%;
    img {
      width: 100%;
    }
  }
   .agenda-wrapper{
     margin-top: .45rem;
    img {
      width: 100%;
    }
  }

  .contact-us {
    width: 100%;
    img {
      width: 100%;
    }
  }

  .accordion-wrapper {
    //background: url(../../images2/accordion_bg.jpg) no-repeat center;
    background-size: cover;
    .accordion {
      // margin-top: .32rem;
      //background: url(../../images2/accordion_bg.jpg) no-repeat center;
    }
    //.am-accordion.my-accordion {
    //  .am-accordion-item {
    //    background: rgba(0, 0, 0, 0);
    //    color: #fff;
    //
    //  }
    //
    //  .am-accordion-header {
    //    background: rgba(255, 255, 255, 0.0);
    //    color: #fff;
    //    border-bottom: 1px solid #0b1220;
    //    height: .48rem!important;
    //}
  }

  .light-dot-img {
    img {
      width: 100%;
    }
  }
}