.rosition-fix{
  position: fixed;
  left:50%;
  bottom:10px;
  margin:36px 0 48px -54px !important;
}
.zw-div{
    border: 0.025rem solid #4676ff;
    border-radius: 1rem;
    font-size: 0.6rem;
    width: 108px;
    height: 30px;
    margin: 36px auto 48px;
    line-height: 30px;
    text-align: center;
    display: block;
    color: #fff;
}
.agenda-ul-box .disnone{
  display: none
}