.menu--icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #263c66;
  margin-left: 15px;
  margin-top: 6px;
  background: url(../../images/menu-icon.svg) no-repeat center #263c66;
  background-size: 80%;
}

.gradient {
  background-image:-webkit-linear-gradient(to bottom, #2b4474, #1f3051);
  background-image: linear-gradient(to bottom, #1f3051, #1f3051)
}
.gradientA {
  background-image:-webkit-linear-gradient(to bottom, #1d2d4e, #28406e);
  background-image: linear-gradient(to bottom, #0f1829, #1d2e4e)
}