
.user {
  .ant-menu-submenu-title {
    font-size: 15px;
  }
  .ant-menu-submenu-inline > .ant-menu-submenu-title:after {
    font-size: 20px;
  }
}

.activity--title {
  display: inline-block;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  marginLeft: '-12px'
}
