.router-page {
  width: 100%;
  min-height: calc(100vh);
  background: #052B49 fixed;
  .accordion-wrapper {
    background-size: cover;
    .accordion {
      margin-top: .32rem;
    }
  }

  .light-dot-img {
    img {
      width: 100%;
    }
  }
  .router-page-fouter{
    width: 100%;
    height: 50px;
  }
}
.router-pageA{
  width: 100%;
  background: #052B49 fixed;
  .accordion-wrapper {
    background-size: cover;
    .accordion {
      margin-top: .32rem;
    }
  }

  .light-dot-img {
    img {
      width: 100%;
    }
  }
  .router-page-fouter{
    width: 100%;
    height: 50px;
  }
}