.ticket--avatar {
  width: 29px;
  height: 29px;
  background: blue;
  display: inline-block;
  border-radius: 50%;
  line-height: 29px;
  text-align: center;
  margin-right: 12px;
}

.avatar--icon {
  width: 15px;
  height: 15px;
}