.dataagenda{
  padding-bottom: 50px;
  width: 100%;
  .popele-box{
    width: 100%;
  }
  .header{
    width: 85.3%;
    height: 40px;
    background: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    font-size: 14px;


 div {
   width: 49%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center
 }
  .btncolor{
    color:#acc0ff;
    font-size: 14px;
  }
 .link{
   border-left: 1px solid #f4f4f4;
 }
 .dataicon23{
width: 14px;
height: 14px;
background: red;
margin-right: 4px;
font-size: 14px;
 }
 
 .dataicon23{
background: url(../../components/images/data1.png);
   background-size: cover;
   font-size: 14px;
 }
 .btntoggle{
.dataicon23{
   background: url(../../components/images/data2.png);
   background-size: cover;
color: #abc0ff;
  font-size: 14px;
 }
 .btncolor{
    color:#4479ff;
   font-size: 14px;
  }
 } 
  }
}
.position-heander{
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -42.65% !important;
    webkit-box-shadow: 0px 3px 7px 0 #616161;
    box-shadow: 0px 3px 7px 0 #616161;
}
.add-header{
  width: 85.3%;
  height: 40px;
  display: none
}