$myblue: #0b6bb1;
$darkblue: #0b6bb1;
$gray: #ccc;

@font-face {
  font-family: 'iconfont';  /* project id 419360 */
  src: url('//at.alicdn.com/t/font_419360_rpvkgaq8qky8ehfr.eot');
  src: url('//at.alicdn.com/t/font_419360_rpvkgaq8qky8ehfr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_419360_rpvkgaq8qky8ehfr.woff') format('woff'),
  url('//at.alicdn.com/t/font_419360_rpvkgaq8qky8ehfr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_419360_rpvkgaq8qky8ehfr.svg#iconfont') format('svg');
}