.HeaderPageBoxBox{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .HeaderPageBoxDz{
    color: #333;
    line-height: 40px;
    font-size: 13px;
    margin-top: -20px;
  }
  .HeaderzPageBoxXiang{
    position: absolute;
    right: 5px;
    top: 40px;
    color: #333;
    font-size: 14px;
  }
}

