.speech-item {
  padding: 6px 4px;
  color: #000;
  border-radius: 4px;
  background: #fff;
  display: flex;
  margin-bottom: 3px;
  justify-content: space-between;
  .item-left {
    width: 20%;
    font-size: 9px;
    //width: .55rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      //margin-bottom: 6px;
      width: .38rem;
      height: .38rem;
      border-radius: 50%;
    }

  }

  .item-right {
    width: 70%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 20px;
    .theme {
      font-size: 13px;
      margin-bottom: 13px;
    }
    .speecher {
      display: flex;
      .name {
        margin-right: .25rem;
      }
      .company-position {
        .company {
          border-right: 2px solid #d6d7d9;
          padding-right: 4px;
          margin-right: 4px;
        }
      }
    }
  }

}

@media screen and (max-width: 320px) {
  .speech-item {
    padding: 6px 4px;
    color: #000;
    border-radius: 4px;
    background: #fff;
    display: flex;
    margin-bottom: 3px;
    justify-content: space-between;
    .item-left {
      width: 23%;
      font-size: 9px;
      //width: .55rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        //margin-bottom: 6px;
        width: .38rem;
        height: .38rem;
        border-radius: 50%;
      }

    }

    .item-right {
      width: 73%;
      font-size: 8px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-right: 0;
      .theme {
        font-size: 8px;
        margin-bottom: 13px;
      }
      .speecher {
        display: flex;
        .name {
          margin-right: .25rem;
        }
        .company-position {
          .company {
            border-right: 2px solid #d6d7d9;
            padding-right: 4px;
            margin-right: 4px;
          }
        }
      }
    }

  }
}