.speech-item {
  padding: 6px 4px;
  color: #000;
  border-radius: 4px;
  background: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  height: 90px;
  .item-left {
    flex: 1;
    font-size: 9px;
    div:nth-child(1){
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .item-img{
    flex: 1;
    img {
      width: .38rem;
      height: .38rem;
      border-radius: 50%;
    }
  }
  .item-right {
    flex: 5;
    font-size: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .theme {
      font-size: 10px;
    }
    .name{
      font-size: 8px;
      color: #20A0FF;
    }
    .item-right-hang{
      font-size: 8px;
      display: flex;
      justify-content: flex-start;
      color: #666;
      div{
        margin-right: 10px;
      }
    }
  }

}