.all-people {
  .people-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    //justify-content: space-around;
  }
  .item-header {
    width: 100%;
    //height: 1.67rem;
  }

}