.guest-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 9px;
  color: #fff;
  margin: 0 .1rem 20px .1rem;

  .img-wrapper {
    font-family: PingFangSC-Regular;
    width: .72rem;
    height: .72rem;
    background: url("./images/bg.png") no-repeat center;
    background-size: .72rem .72rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
  img {
    width: .63rem;
    height: .63rem;
    border-radius: 50%;
  }
  .name {
    font-size: 13px;
    font-weight: 600;
  }

  .company {
    text-align: center;
    max-width: 72px;
    font-size: 10px;
    color: #2FE0F0;
  }
  .position {
    font-size: 10px;
    color: #2FE0F0;
    text-align: center;
    max-width: 72px;
  }
}