.Awards-Box {
  width:100%;
  height: 100%;
  background: #000000;
  .Awards-Banner{
    width: 100%;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .Awards-Activity{
    width: 100%;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .Awards-Category{
    width: 100%;
    img{
      width: 100%;
    }
  }
  .Awards-Bg{
    width: 100%;
    img{
      width: 100%;
      height: 100%;
    }
  }
}

