  .accor-header {
    position: relative;
    height: .48rem;
    border-radius: 4px;
    padding: 0 12px;
    display: flex!important;
    flex-direction: row!important;
    justify-content: flex-start;
    align-items: center;
    z-index:1;
    margin-top: 4px;

    .header-left {
      width: 35px;
      height: 35px;
      background: #ebebec;
      border-radius: 50%;
      text-align: center;
      line-height: 35px;
      margin-right: 10px;
      .iconfont {
        color: #3f68b7
      }
    }
    .header-left-user {
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 35px;
      .iconfont {
        font-size: 20px;
      }
    }
    .main-title {
      font-size: 16px;
    }

    .en-title {
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #999999;
      line-height: 12px;
    }

    .icon-xiangxia,
    .icon-xiangshang
    {
      position: absolute;
      right: 16px;
      top: 25%;
    }
  }