.AddGroupContainer-{
   width: 100%;
  .AddGroupContainer-Box{
    width: 100%;
    display: flex;
    justify-content: center;
    .AddGroupContainer-Item{
      width: 96%;
      display: flex;
      justify-content: flex-start;
      div{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
      }
    }
  }
  .ant-menu-submenu-open.ant-menu-submenu-inline > .ant-menu-submenu-title:after{
    content: '';
  }
  .AddGroupContainerBig{
    img{
      width: 200px;
      height: 200px;
      display: block;
      position: fixed;
      left: 100px;
      top: 100px;
    }
  }
}