.collection--icon {
  background: url(../../../../images/collection-icon.svg) no-repeat center 3px;
  background-size: 80%;
  width: 20px;
  height: 18px;
}

.document--collection {
  background: url(../../../../images/document-collection.svg) no-repeat center 3px;
  background-size: 80%;
  width: 20px;
  height: 18px;
}

//.user {
  .ant-menu-submenu-title {
    font-size: 15px;
  }
  .ant-menu-submenu-inline > .ant-menu-submenu-title:after {
    font-size: 20px;
  }
  .ant-menu-submenu-inline > .ant-menu-submenu-title:after {
    right: 10px;
  }
  .ant-menu-sub.ant-menu-inline > .ant-menu-item {
    padding-left: 10px!important;
  }
//}



.collectionItemtime{
  font-size: 15px;
  font-weight: 700;
  width: 100%;
  border-bottom: 1px solid #dddfe1;
  margin-top: -9px;
  padding-left: 25px;
}
.box{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  .boximg{
    display: flex;
    align-items: center;
  }
  .boxiner{
    height: 100%;
    float: left;
    .boxinerTextA{
      margin-top: -6px;
      margin-bottom: 6px;
      height: 10px;
      font-weight: 800;
    }
    boxinerTextB{
      height: 8px;
      font-weight: 200;
    }
  }
}