.ListMeetingsBox{
  width: 100%;
  height: 100%;
 .ListMeetingsBoxImg{
   width: 100%;
   height: 100%;
   img{
     width: 100%;
     height:100%;
   }
 }
  .ListMeetingsBoxList{
     display: flex;
    .ListMeetingsBoxImg{
      width: 1.5rem;
      height:1.5rem;
      border-radius: 50%;
      background: red;
    }
  }
}